<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List of books</title>
</head>
<body>
  <h1>Book Management</h1>
  <div th:if="${session.loggedInUser.getRole().equals('admin')}">
      <a th:href="@{'/books'}">Manage Books</a>
      <a th:href="@{'/categories'}">Manage Categories</a>
      <a th:href="@{'/users'}">Manage Users</a>
      <a th:href="@{'/loans'}">Manage Loans</a>
  </div>
  <div th:unless="${session.loggedInUser.getRole().equals('admin')}">
      <a th:href="@{'/loans'}">Manage My Loans</a>
  </div>
  <p>
    <form th:action="@{'/books'}" method="get">
        <label for="keyword">Keyword: </label>
        <input id="keyword" name="keyword" type="text" placeholder="Input name of book">
        <button type="submit">Search</button>
    </form>
  </p>
  <div th:if="${books.isEmpty()}">
      <p style="color: red; font-weight: bold">Not found book!</p>
  </div>
  <table th:unless="${books.isEmpty()}">
    <thead>
      <tr>
          <th>Name</th>
          <th>Author</th>
          <th>Quantity</th>
          <th>Create At</th>
          <th>Publisher</th>
          <th>Year</th>
          <th th:if="${session.loggedInUser.getRole().equals('admin')}">Status</th>
          <th th:if="${session.loggedInUser.getRole().equals('admin')}">Action</th>
          <th th:unless="${session.loggedInUser.getRole().equals('admin')}">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="x : ${books}">
          <td th:text="${x.getTitle()}">...</td>
          <td th:text="${x.getAuthor()}">...</td>
          <td th:text="${x.getQuantity()}">...</td>
          <td th:text="${x.getCreatedAt()}">...</td>
          <td th:text="${x.getPublisher()}">...</td>
          <td th:text="${x.getYear()}">...</td>
          <td th:if="${session.loggedInUser.getRole().equals('admin')}">
              <span th:if="${x.isStatus()}">Active</span>
              <span th:if="${!x.isStatus()}">Inactive</span>
          </td>
          <td th:if="${session.loggedInUser.getRole().equals('admin')}">
              <a th:href="@{'/products/edit/' + ${x.id}}">Update</a> |
              <a th:href="@{'/products/delete/' + ${x.id}}"
                 onclick="return confirm('Are you sure?');"
              >Delete</a>
          </td>
          <td th:unless="${session.loggedInUser.getRole().equals('admin')}">
              <a th:if="${x.isStatus() && x.getQuantity() > 0}"
                 th:href="@{'/loans/borrow/' + ${x.id}}"
                 onclick="return confirm('Are you sure to borrow this book?');">
                  Borrow
              </a>
              <span th:if="${!x.isStatus() || x.getQuantity() <= 0}" style="color: red;">
                  Not Available
              </span>
          </td>
      </tr>
    </tbody>
  </table>
  <p>
    <a th:href="@{'/logout'}">Log out</a>
  </p>



</body>
</html>