<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List of books</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
  <div class="main-container">
  <h1>Category Management</h1>
  <div th:if="${session.loggedInUser.getRole().equals('admin')}" class="link-group">
      <a th:href="@{'/books'}">Manage Books</a>
      <a th:href="@{'/categories'}">Manage Categories</a>
      <a th:href="@{'/users'}">Manage Users</a>
      <a th:href="@{'/report'}">Report</a>
  </div>
  <div th:if="${session.loggedInUser.getRole().equals('staff')}" class="link-group">
      <a th:href="@{'/books'}">Manage Books</a>
      <a th:href="@{'/categories'}">Manage Categories</a>
      <a th:href="@{'/loans'}">Manage Loans</a>
  </div>

  <div>

    <p>
    <form th:action="@{'/categories'}" method="get" class="search-form">  
      <label for="keyword">Keyword: </label>
      <input id="keyword" name="keyword" type="text" placeholder="Input category name">
      <button type="submit">Search</button>
    </form>
    </p>

    <div th:if="${session.loggedInUser.getRole().equals('staff')}" class="page-links">
      <a th:href="@{/categories/add}">Add New Category</a>
    </div>

    <div th:if="${cates.isEmpty()}">
      <p style="color: red; font-weight: bold">Not found category</p>
    </div>
    <table th:unless="${cates.isEmpty()}">
      <thead>
      <tr class="card">
        <th>Name</th>
        <th>Description</th>
        <th th:if="${session.loggedInUser.getRole().equals('staff')}">Status</th>
        <th th:if="${session.loggedInUser.getRole().equals('staff')}">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="x : ${cates}" class="card">
        <td th:text="${x.getName()}">...</td>
        <td th:text="${x.getDescription()}">...</td>
        <td th:if="${session.loggedInUser.getRole().equals('staff')}">
          <span th:if="${x.isStatus()}">Active</span>
          <span th:if="${!x.isStatus()}">Inactive</span>
        </td>
        <td th:if="${session.loggedInUser.getRole().equals('staff')}">
          <a th:href="@{'/categories/edit/' + ${x.id}}">Update</a> |
          <a th:if="${x.isStatus()}" th:href="@{'/categories/delete/' + ${x.id}}"
             onclick="return confirm('Are you sure?');"
          >Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
    <p class="page-links">
        <a th:href="@{'/logout'}">Log out</a>
    </p>
  </div>

</div>

</body>
</html>