<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Loans</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div class="main-container">
    <h1>Manage Loans</h1>
    <div th:if="${session.loggedInUser.getRole().equals('staff')}" class="link-group">
        <a th:href="@{'/books'}">Manage Books</a>
        <a th:href="@{'/categories'}">Manage Categories</a>
        <a th:href="@{'/loans'}">Manage Loans</a>
    </div>

    <div th:if="${success}" th:text="${success}"></div>
    <div th:if="${error}" style="color: red" th:text="${error}"></div>

    <p>
        <form th:action="@{'/loans'}" method="get" class="search-form">
            <label for="keyword">Keyword: </label>
            <input id="keyword" name="keyword" type="text" placeholder="Input name of user">
            <button type="submit">Search</button>
        </form>
    </p>

    <table th:unless="${loans.isEmpty()}">
        <thead>
            <tr class="card">
                <th>Book Title</th>
                <th>Borrower Name</th>
                <th>Loan Date</th>
                <th>Due Date</th>
                <th>Return Date</th>
                <th>Status</th>
                <th th:if="${session.loggedInUser.getRole().equals('staff')}">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="loan : ${loans}" class="card">
                <td th:text="${loan.getBook().getTitle()}">...</td>
                <td th:text="${loan.getUser().getFullName()}">...</td>
                <td th:text="${#temporals.format(loan.getLoanDate(), 'MM/dd/yyyy')}">...</td>
                <td th:text="${#temporals.format(loan.getDueDate(), 'MM/dd/yyyy')}">...</td>
                <td th:text="${loan.getReturnDate() != null ? #temporals.format(loan.getReturnDate(), 'MM/dd/yyyy') : '-'}">...</td>
                <td th:text="${loan.getStatus().getDisplayValue()}">...</td>
                <td th:if="${session.loggedInUser.getRole().equals('staff')}">
                    <a th:if="${loan.getReturnDate() == null}"
                       th:href="@{'/loans/return/' + ${loan.getId()}}"
                       onclick="return confirm('Are you sure to return this book?');">
                        Return
                    </a>
                  
                </td>
            </tr>
        </tbody>
    </table>

    <p class="page-links">
        <a th:href="@{'/books'}">Back</a>
    </p>
    </div>
</body>
</html> 