<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <h1>Library Manager</h1>
    <div>
        <div>
            <h1>Login</h1>
            <div th:if="${error}" th:text="${error}">Login Error</div>
            <form th:action="@{/auth}" method="post">
                <div>
                    <label for="uname">Username:</label>
                    <input type="text" id="uname" name="uname" required/>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required/>
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>